In [4]:
# üß© Superstore Sales Analytics ‚Äî Exploratory Data Analysis
# Goal: Explore sales data to understand profitability, discounts, and sales dynamics by region and category.

# 1Ô∏è‚É£ Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

sns.set(style='darkgrid', palette='colorblind')
plt.rcParams['figure.figsize'] = (10, 5)

# 2Ô∏è‚É£ Load the Dataset
df = pd.read_csv('../data/Superstore.csv', encoding='latin-1')
print("Data loaded successfully.")
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")
display(df.head(3))

# 3Ô∏è‚É£ Quick Overview
print("Basic info about dataset:")
df.info()

print("Summary statistics:")
display(df.describe(include='all').T.head(10))

# 4Ô∏è‚É£ Data Cleaning
print("Cleaning column names and formatting data types...")

# Clean column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', "_")

# Convert date columns
df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')
df['ship_date'] = pd.to_datetime(df['ship_date'], errors='coerce')

# Remove duplicates
before = len(df)
df.drop_duplicates(inplace=True)
print(f"Removed {before - len(df)} duplicate rows.")

# Convert to proper data types safely
category_cols = ['category', 'region', 'state', 'ship_mode', 'segment', 'sub-category', 'postcode']
for col in category_cols:
    if col in df.columns:
        df[col] = df[col].astype('category')

numeric_cols = ['sales', 'profit', 'discount']
for col in numeric_cols:
    if col in df.columns:
        df[col] = df[col].astype('float32')


df['row_id'] = df['row_id'].astype('int32')
df['quantity'] = df['quantity'].astype('int16')

# Memory usage check
def memory_report(df):
    return round(df.memory_usage(deep=True).sum() / 1024**2, 2)

print("Memory usage after optimization (MB):", memory_report(df))
print("Cleaning complete.")

# 5Ô∏è‚É£ Exploratory Analysis
print("Categories distribution:")
display(df['category'].value_counts())

print("Regions distribution:")
display(df['region'].value_counts())

print("Average profit by region:")
display(df.groupby('region', observed=True)['profit'].mean())

# 6Ô∏è‚É£ Visualizations
print("Creating visualizations...")

# Average Profit by Region
sns.barplot(x='region', y='profit', data=df, estimator='mean', errorbar=None)
plt.title('Average Profit by Region')
plt.xlabel('Region')
plt.ylabel('Average Profit ($)')
plt.tight_layout()
plt.savefig('../output/graphs/profit_by_region.png')
plt.close()
print("Saved: profit_by_region.png")

# Correlation Heatmap
plt.figure(figsize=(6, 4))
sns.heatmap(df[['sales', 'profit', 'discount']].corr(), annot=True, cmap='coolwarm', center=0)
plt.title("Correlation: Sales, Profit, and Discount")
plt.tight_layout()
plt.savefig('../output/graphs/correlation_heatmap.png')
plt.close()
print("Saved: correlation_heatmap.png")

# Sales Trend Over Time
sales_trend = df.groupby('order_date')['sales'].sum().reset_index()
plt.figure(figsize=(10, 5))
plt.plot(sales_trend['order_date'], sales_trend['sales'], linewidth=2)
plt.title('Total Sales Over Time')
plt.xlabel('Order Date')
plt.ylabel('Total Sales ($)')
plt.tight_layout()
plt.savefig("../output/graphs/sales_trend.png")
plt.close()
print("Saved: sales_trend.png")

print("Analysis completed. Graphs are saved in: ../output/graphs/")

Data loaded successfully.
Rows: 9994, Columns: 21

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714

Basic info about dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB
Summary statistics:

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Row ID,9994.0,NaN,NaN,NaN,4997.5,2885.163629,1.0,2499.25,4997.5,7495.75,9994.0
Order ID,9994,5009,CA-2017-100111,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Order Date,9994,1237,9/5/2016,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ship Date,9994,1334,12/16/2015,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ship Mode,9994,4,Standard Class,5968,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer ID,9994,793,WB-21850,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer Name,9994,793,William Brown,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Segment,9994,3,Consumer,5191,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,9994,1,United States,9994,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,9994,531,New York City,915,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Cleaning column names and formatting data types...
Removed 0 duplicate rows.
Memory usage after optimization (MB): 4.79
Cleaning complete.
Categories distribution:

category
Office Supplies    6026
Furniture          2121
Technology         1847
Name: count, dtype: int64

Regions distribution:

region
West       3203
East       2848
Central    2323
South      1620
Name: count, dtype: int64

Average profit by region:

region
Central    17.092709
East       32.135807
South      28.857672
West       33.849030
Name: profit, dtype: float32

Creating visualizations...
Saved: profit_by_region.png
Saved: correlation_heatmap.png
Saved: sales_trend.png
Analysis completed. Graphs are saved in: ../output/graphs/